@media screen and (max-width: 768px) {
  
  /* Navegacion */
  .logom{
    width: 2rem;
    height: auto;
  }

  p.SNee{
    font-size: 1.5rem;   
  }

  p.SNe {
    font-size: 1.5rem;
  }

  .lo-nom {
    margin-left: 0.5rem;
    align-items: stretch;
    gap: 0.5rem;
  }

  a.ICC{
    font-size: 0.8rem;
  }

  a.IC {
    font-size: 0.8rem;
  }

  a.t-home{
    font-size: 0.8rem;
  }

  .CasaNar{
    width: 1.25rem;
  }

  .casa-nav{
    width: 1.25rem;
  }

  /* Inicio */
  h1.titulos{
    font-size: 5rem;  
  }

  h2.ED{
    font-size: 1.25rem;
  }

  .por-es {
    background-size: cover;
    padding: 2rem 1rem;
    text-align: center;
  }

  .Cent {
    text-align: center;
  }

  /* Sobre mí */
  .foto-perfil {
    flex-direction: column;
    margin: 2rem 1rem;
    gap: 1.5rem;
    align-items: center;
  }

  .foto-perfil img {
    width: 80%;
    height: auto;
  }

  /* Habilidades + Ubicación + Formación */
  .huf-a {
    flex-direction: column;
    margin: 2rem 1rem;
    gap: 2rem;
  }

  .ubi-for {
    width: 100%;
  }

  .ubi-esp{
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
  }

  .im-fortx, .im-ubitx {
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .ubi-esp p, .im-fortx p, .im-ubitx p {
    margin: 0;
  }

  /* Software y Máquinas */
  .soft-maq {
    margin: 2rem 1rem;
    gap: 2rem;
  }

  .Cent-Esp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .Cent-Esp img {
    width: 80px;
    height: auto;
  }

  .maq ul {
    padding-left: 1.2rem;
  }

  /* Patrón final */
  .pat-ini img {
    width: 100%;
    height: auto;
  }

  /*menú de proyectos */
  h1.titulos-2{
    font-size: 3rem;
  }

  .titulo-pri {
    gap: 2rem;
    padding: 1rem;
  }
  
  .fila-3d,.fila-2d,.fila-4d {
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
  }
  
  .niv-ul {
    gap: 1rem;
  }

  p.Menut {
    font-size: 1.3rem;    
  }

  p.MenuF {
    font-size: 1rem;
  }
  
    /* Ajuste de imágenes*/
  .PortLB-menu, .Portrre-menu, .Portdimo-menu, .Portempa-menu, .Portmac-menu, .PortNubu-menu {
    width: 90%;
    height: auto;
    max-width: 18.75rem;
  }
  
  .Menut, .MenuF {
    text-align: center;
  }
  
  .centro-tipo {
    text-align: center;
  }
  
  .Pa-cont {
    width: 100%;
    height: auto;
  }

  /* Lenguaje basico 1 */
  .portada-lb{
    background-position: center;
    height: auto;
    padding: 2rem 1rem;
  }

  .flechab{
    width: 0.6rem;
  }

  .fle-tx {
    align-items: start;
    gap: 0rem;
}

  h2.Proyectos {
    font-size: 1.1rem;
  }

  h1.NombreP {
    font-size: 1.7rem;
  }

  p.fech, p.txx {
    font-size: 1rem;
  }

  .tx-portadalb {
    margin-left: 0;
    margin-top: 1rem;
    padding: 0 1rem;
  }

  .fle-tx {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .NombreP {
    font-size: 1.5rem;
    text-align: left;
    padding-right: 1rem;
  }

  .Cent .col-10 {
    width: 100% !important;
    padding: 0 1rem;
  }

  .txx {
    text-align: left;
  }

  .ret-4 img, .ej4lb, .imagenes2 img,.nivel-2 img {
    width: 90%;
    height: auto; 
    max-width: 400px;
  }

  .nivel-2, .imagenes2 {
    flex-direction: column;
    align-items: center;
  
    padding: 0 1rem;
  }

  /* Texto debajo de imágenes */
  .TX {
    text-align: center;
    padding: 0 1rem;
  }

  /* Botón */
  .Boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
  }

  /* Patrón decorativo */
  .Pa-cont {
    width: 100%;
    height: auto;
  }

  .portada-RF {
    height: auto;
    background-position: center;
    padding: 3rem 2rem;
  }

  /* Recorrido fotografico 2 */
  .portada-RF {
    height: auto;
    background-position: center;
    padding: 3rem 2rem;
  }

  .tx-portadainfoRF {
    margin-left: 0;
    margin-top: 2rem;
    padding: 0 1rem;
  }

  .fle-tx {
    flex-direction: row;
    gap: 1rem;
  }

  .NombreP {
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  .Cent, .text-center, .text-left {
    padding: 0 2rem;
    text-align: left !important;
  }

  .tx-retrato, .tx-concep, .tx-aficion {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 2rem;
  }

  .tx-retrato div, .tx-concep div, .tx-aficion div {
    flex: 1 1 45%;
    max-width: 45%;
  }

  .tx-retrato img, .tx-concep img, .tx-aficion img, .Cent img {
    width: 100%;
    height: auto;
  }

  .TX {
    font-size: 1rem;
    text-align: left;
  }

  /* Emocionario 3 */

  /* Empaque de donas 4 */
  .portada-EmD {
    height: auto;
    background-position: center;
    padding: 3rem 2rem;
  }

  .tx-portadainfoEm {
    margin-left: 0;
    margin-top: 2rem;
    padding: 0 1rem;
  }

  .NombreP {
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  .DonasP{
    width: 100%;
    height: auto;
  }

  .Cent, 
  .text-center, 
  .text-left {
    padding: 0 2rem;
    text-align: left !important;
  }

  .centro-2im,
  .im2-cenem,
  .im3-cenem,
  .im2-res {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
  }

  .im2-cenem {
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    gap: 2.3rem;
    padding: 1rem 2rem;
  }

  .centro-2im div,
  .im2-cenem div,
  .im3-cenem div,
  .im2-res img {
    flex: 1 1 45%;
    max-width: 45%;
  }

  .centro-2im img,
  .im2-cenem img,
  .im3-cenem img,
  .im2-res img {
    width: 100%;
    height: auto;
  }

  .TX {
    font-size: 1rem;
    padding-top: 0.4rem;
    text-align: left;
  }

  /* Macetas 5 */
  .mac-centro2im,
  .mac-res2im,
  .mac-centro3im,
  .mac-2imtx,
  .mac-proceso3im,
  .proceso-sepa {
    gap: 1rem;
  }

  .tx-portadainfoMac h1,
  .tx-portadainfoMac h2,
  .TX,
  .fech,
  .txx {
    text-align: center;
  }

  .resultado-sep {
    gap: 1.5rem;
  }

  .mac-res2im span,
  .mac-res2im div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mac-res2im h1 {
    text-align: center;
  }
  


}

  

    
    