@media screen and (max-width: 768px) {
  
  /* Navegacion */
  
  .navbar-nav {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

  .navbar-nav img.casa-nav {
    margin-bottom: 1rem;
    align-self: flex-end;
  }

  .navbar-collapse {
    background-color: #FFE3E1;
    padding: 1rem;
  }

  .lo-nom {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .logom{
    width: 2rem;
    height: auto;
  }

  p.SNee{
    font-size: 1.5rem;   
  }

  p.SNe {
    font-size: 1.5rem;
  }

  .lo-nom {
    margin-left: 0.5rem;
    align-items: stretch;
    gap: 0.5rem;
  }

  a.ICC{
    font-size: 0.8rem;
  }

  a.IC {
    font-size: 0.8rem;
  }

  a.t-home{
    font-size: 0.8rem;
  }

  .CasaNar{
    width: 1.25rem;
  }

  .casa-nav{
    width: 1.25rem;
  }

  /* Inicio */
  h1.titulos{
    font-size: 5rem;  
  }

  h2.ED{
    font-size: 1.25rem;
  }

  .por-es {
    background-size: cover;
    padding: 2rem 1rem;
    text-align: center;
  }

  .Cent {
    text-align: center;
    margin: 0rem 2rem;
  }

  /* Sobre mí */
  .foto-perfil {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
  }

  .foto-perfil img {
    width: 80%;
    height: auto;
  }

  /* Habilidades + Ubicación + Formación */
  .huf-a {
    flex-direction: column;
    margin: 2rem 1rem;
    gap: 2rem;
  }

  .ubi-for {
    width: 100%;
  }

  p.TX {
    text-align: left;
  }

  .ubi-esp{
    text-align: left !important;
  }

  .im-fortx, .im-ubitx {
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .ubi-esp p, .im-fortx p, .im-ubitx p {
    margin: 0;
  }

  /* Software y Máquinas */
  .soft-maq {
    margin: 2rem 1rem;
    gap: 2rem;
  }

  .Cent-Esp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .Cent-Esp img {
    width: 80px;
    height: auto;
  }

  .maq ul {
    padding-left: 1.2rem;
  }

  /* Patrón final */
  .pat-ini img {
    width: 100%;
    height: auto;
  }

  /*menú de proyectos */
  /* Alinear las filas verticalmente y al centro */
  .fila-3d,
  .fila-2d,
  .fila-4d {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    text-align: center;
  }

  .niv-ul {
    gap: 6rem;
    align-items: center;
  }

  /* Menú de navegación */
  .IC {
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 1rem;
    width: 100%;
  }

  .titulo-pri {
    padding: 0 1rem;
    text-align: center;
  }

  h1.titulos-2{
    font-size: 5rem;
  }

  /* Imágenes de proyecto */
  .PortLB-menu,
  .Portrre-menu,
  .Portdimo-menu,
  .Portempa-menu,
  .Portmac-menu,
  .PortNubu-menu {
    width: 90%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  /* Textos */
  .Menut,
  .MenuF {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.25rem;
  }

  .Pa-cont {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  /* Lenguaje basico 1 */
  .portada-lb{
    background-position: center;
    height: auto;
    padding: 2rem 1rem;
  }

  .flechab{
    width: 0.6rem;
  }

  .fle-tx {
    align-items: start;
    gap: 0rem;
  }

  h2.Proyectos {
    font-size: 1.1rem;
  }

  h1.NombreP {
    font-size: 1.7rem;
  }

  p.fech, p.txx {
    font-size: 1rem;
  }

  .tx-portadalb {
    margin-left: 0;
    margin-top: 1rem;
    padding: 0 1rem;
  }

  .fle-tx {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .text-center {
    text-align: center !important; /* fuerza el centrado */
  }

  .NombreP {
    font-size: 1.5rem;
    text-align: left;
    padding-right: 1rem;
  }

  /* TEXTO DESCRIPTIVO */
  .Cent .text-center {
    padding: 1rem;
    font-size: 1rem;
  }

  .ret-4 img,
  .ej4lb,
  .text-center img {
    max-width: 95%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .nivel-2,
  .imagenes2 {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .nivel-2 img,
  .imagenes2 img {
    max-width: 90%;
    height: auto;
  }

  /* Botón */
  .Boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
  }

  /* Patrón decorativo */
  .Pa-cont {
    width: 100%;
    height: auto;
  }

  /* Recorrido fotografico 2 */
    .portada-RF {
      height: auto;
      background-position: center;
      padding: 2rem 1rem;
    }
  
    .tx-portadainfoRF {
      margin: 1rem;
      align-items: flex-start;
    }
  
    .tx-retrato, .tx-concep, .tx-aficion {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      margin: 2rem 0;
    }
  
    .Boton {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  
    .tx-retrato div, .tx-concep div, .tx-aficion div {
      width: 100%;
      padding: 0 1rem;
      box-sizing: border-box;
    }
  
    body {
      overflow-x: hidden;
    }

  /* Emocionario 3 */
  .carrusel-tx{
    flex-direction: column;
    align-items: center;
  }

  .proceso-4im {
    flex-direction: column;
    align-items: center;
  }

  .LiDi{
    width: 33.5rem;
  }

  /* Empaque de donas 4 */
  .portada-EmD {
    height: auto;
    background-position: center;
    padding: 3rem 2rem;
  }

  .tx-portadainfoEm {
    margin-left: 0;
    margin-top: 2rem;
    padding: 0 1rem;
  }

  .margen{
    padding: 1rem 2rem;
  }

  .NombreP {
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  .DonasP{
    width: 100%;
    height: auto;
  }

  .centro-2im,
  .im2-cenem,
  .im3-cenem,
  .im2-res {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
  }

  .im2-cenem {
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    gap: 2.3rem;
    padding: 1rem 2rem;
  }

  .centro-2im div,
  .im2-cenem div,
  .im3-cenem div,
  .im2-res img {
    flex: 1 1 45%;
    max-width: 45%;
  }

  .centro-2im img,
  .im2-cenem img,
  .im3-cenem img,
  .im2-res img {
    width: 100%;
    height: auto;
  }

  .TX {
    font-size: 1rem;
    padding-top: 0.4rem;
    text-align: left;
  }

  /* Macetas 5 */
  .portada-Mac {
    height: auto;
    background-position: center;
    padding: 2rem 1rem;
  }

  .tx-portadainfoMac {
    margin-left: 1rem;
    margin-top: 2rem;
  }

  .mac-centro2im, .mac-res2im, .mac-centro3im, .mac-2imtx, .mac-proceso3im, .proceso-sepa {
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
  }

  .resultado-sep {
    padding: 0 1rem;
  }

  .txx, .TX {
    font-size: 1rem;
  }

  /*Botella*/
  .portada-Bot {
    height: auto;
    background-position: center;
    padding: 2rem 1rem;
  }

  .tx-portadainfoBot {
    margin-left: 1rem;
    margin-top: 2rem;
  }

  .alinear_base,
  .bote-2im,
  .Cent-im {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }

  .Carpubl{
    align-items: center;
    padding: 2rem 1rem;
  }

  /*Nubu*/
  .portada-Nubu {
    height: auto;
    background-position: center;
    padding: 2rem 1rem;
  }

  .tx-portadainfNubu {
    margin: 1rem;
    align-items: flex-start;
  }

  .nubu-2im{
    flex-direction: column;
    padding: 0rem 2rem;
    align-items: center;
  }

  .ocul{
    display: none;
  }

  /*Prenda*/
  .portada-PC {
    height: auto;
    background-position: center;
    padding: 2rem 1rem;
  }

  .tx-portadainfPC {
    margin: 1rem;
    align-items: flex-start;
  }

  .prenda-3im{
    flex-direction: column;
    align-items: center;
  }

  /*Juguete*/
  .portada-Ju {
    height: auto;
    background-position: center;
    padding: 2rem 1rem;
  }

  .tx-portadainfJu {
    margin: 1rem;
    align-items: flex-start;
  }

  .juguete-2im, .modelado-2im, .dummy-2im{
    flex-direction: column;
  }

  /*Contacto*/
  .tx-conctactoim {
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
  }




}

  

    
    