@media only screen and (max-width: 600px) {

  /* Inicio*/
    /*elementos*/
    .foto-perfil{
      margin-left: 0rem;
    }

  /*menu proyectos*/
    /*tipografias*/
      h1.titulos-2{
        font-size: 3.12rem;
      }
      p.SNee{
        font-size: 0.68rem;
      }
      p.Menut{
        font-size: 0.93rem;
      }
      p.MenuF{
        font-size: 0.68rem;
      }

    /*elementos*/
      .logom{
        width: 2rem;
      }
      .titulo-pri{
        gap: 0.93rem;
      }
      .PortLB-menu{
        width: 22.81rem;
        height: 8.56rem; 
      }
      .Portrre-menu{
        width: 7.37rem;
        height: 8.5rem;
      }
      .Portdimo-menu{
        width: 7.37rem;
        height: 8.5rem;
      }
      .Portempa-menu{
        width: 7.37rem;
        height: 8.5rem;
      }
      .fila-3d{
        gap: 0.31rem;
      }
      .Portmac-menu{
        width: 11.25rem;
        height: 8.5rem;
      }
      .fila-2d{
        gap: 0.31rem;
      }
      .PortNubu-menu{
        width: 7.37rem;
        height: 8.5rem;
      }
      .fila-4d{
        gap: 0.31rem;
      }
      .niv-ul{
        gap: 2.06rem;
      }
  /*Lenguaje basico*/
    /*tipografias*/
      h2.Proyectos{
        font-size: 0.75rem;
      }
      h1.NombreP{
        font-size: 1.31rem;
      }
      p.fech{
        font-size: 0.68rem;
      }
      p.txx{
        font-size: 0.68rem;
      }
      p.SNe{
        font-size: 0.68rem;
      }
    /*elementos*/
      .flechab{
        width: 0.38rem;
      }
      .ej1lb{
        width: 22.12rem;
      }
      .ej2lb{
        width: 10.94rem;
      }
      .ej3lb{
        width: 10.92rem;
      }
      .nivel-2{
        gap: 0.31rem;
      }
      .ej4lb{
        width: 22.12rem;
      }
      





  }

  

    
    