/* Add styles here */
:root {
    /* Colores*/
    --color-rosa: #F9B8B0;
    --color-naranja: #DE543F;
    --color-negro: #000000; 
    --color-blanco: #FFFFFF;
    --color-rosa-claro: #FFE3E1; 

    /* Fuentes */
    --font-titulos: "MuseoModerno", sans-serif;
    --font-cuerpo: "Inter", sans-serif;

  }

  /* importaciones */
  @import '~bootstrap/dist/css/bootstrap.min.css';
  @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  

  /* Fuentes */

  h1.titulos{
    font-family: var(--font-titulos);
    font-size: 128px;
    font-weight: 800;
    color: var(--color-blanco);
  }

  h1.ti-contacto{
    font-family: var(--font-titulos);
    font-size: 70px;
    font-weight: 800;
    color: var(--color-naranja);
  }

  h2.ED{
    font-family: var(--font-cuerpo);
    font-size: 36px;
    font-weight: 500;
    color: var(--color-blanco);
  }

  h1.SN{
    font-family: var(--font-titulos);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-naranja);
  }

  h1.sub-contacto{
    font-family: var(--font-titulos);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-negro);
  }

  h2.IC{
    font-family: var(--font-cuerpo);
    font-size: 16px;
    font-weight: 500;
    color: var(--color-negro);
  }

  a.t-home{
    font-family: var(--font-cuerpo);
    font-size: 16px;
    font-weight: 800;
    color: var(--color-naranja);
  }

  a.IC{
    font-family: var(--font-cuerpo);
    font-size: 16px;
    font-weight: 500;
    color: var(--color-blanco);
  }

  h2.Proyectos{
    font-family: var(--font-cuerpo);
    font-size: 40px;
    font-weight: 600;
    color: var(--color-blanco);
  }

  h1.NombreP{
    font-family: var(--font-titulos);
    font-size: 70px;
    font-weight: 600;
    color: var(--color-rosa);
  }

  h1.SNe{
    font-family: var(--font-titulos);
    font-size: 30px;
    font-weight: 600;
    color: var(--color-negro);
  }

  p.SNe{
    font-family: var(--font-titulos);
    font-size: 36px;
    font-weight: 800;
    color: var(--color-blanco);
  }

  p.Menut{
    font-family: var(--font-cuerpo);
    font-size: 30px;
    font-weight: 800;
    color: var(--color-negro);
  }

  p.fech{
    font-family: var(--font-cuerpo);
    font-size: 30px;
    font-weight: 800;
    color: var(--color-blanco);
  }

  p.MenuF{
    font-family: var(--font-cuerpo);
    font-size: 30px;
    font-weight: 500;
    color: var(--color-negro);
  }

  p.txx{
    font-family: var(--font-cuerpo);
    font-size: 30px;
    font-weight: 500;
    color: var(--color-blanco);
  }

  p.TX{
    font-family: var(--font-cuerpo);
    font-size: 20px;
    font-weight: 500;
    color: var(--color-negro);
  }

  li.TX{
    font-family: var(--font-cuerpo);
    font-size: 20px;
    font-weight: 500;
    color: var(--color-negro);
  }
  
   /* Alineaciones */

  /* Barra de nav */
  .navbar-expand-lg .navbar-collapse { 
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
  }

   /* Inicio */
  .por-es{             
    display: flex;
    flex-direction: column;
    gap: 1px;   
    z-index: auto;
    top: 300px;
    left:450px; 
    position: absolute;
  }

  .fondo-patron{
    z-index: -1;
  }

  .estudiante-D{
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
  }

  /* software y maquinas */
   .soft{                            
    display: flex;
    flex-direction: column;
    gap: 45px;
   }

   .maq{
    display: flex;
    flex-direction: column;
    gap: 20px;
   }

   .soft-maq{
    display: flex;
    flex-direction: column;
    gap: 45px;
   }

  /* sobre mi, maquinas y software */
  .im-ubitx{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 10px;
  }

  .ubi-esp{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .im-fortx{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start ;
    gap: 10px;
  }

  .ubi-for{
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .huf-a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 335px;
    width: 100%;
  }

  /*Contacto*/
  .tx-conctactoim{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:300px;
    z-index: auto;
    top: 470px;
    left:270px; 
    position: absolute;
  }
  

  .p-nf{                  /*menu*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }
                
  .fila-3d{                   /*nivel 2*/
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;   
  }
             
  .fila-2d{                   /*nivel 3*/
    display: flex;
    justify-content: center;
    gap: 21px;
    width: 100%;   
  }

  .fila-4d{                   /*nivel 4*/
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;   
  }

  .niv-ul{                           /*separacion patron y ultimo elemento*/
    display: flex;
    flex-direction: column;
    gap:151px;
  }

  .titulo-pri{                           /*separacion titulo y primer elemento*/
    display: flex;
    flex-direction: column;
    gap: 74px;
  }

  .fle-tx{                          /*Portada de proyectos*/
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 10px;
  }

  .portada-lb{
    z-index: -1;
    width: 100%;
  }

  .tx-portadalb{
    display: flex;
    flex-direction: column;
    gap: 1px;   
    z-index: auto;
    top: 200px;
    left:50px; 
    position: absolute;
  }

  .portd-ele{
    display: flex;
    flex-direction: column;
    gap: 70px;   
  }
  
  /*lenguaje basico*/
  .ret-4{                           
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    margin-top: 76px;
  }

  .nivel-2{
    display: flex;
    justify-content: center;
    gap: 22px;
  }

  .imagenes2{                   
    display: flex;
    justify-content: center;
    gap: 21px;
    width: 100%;   
  }

  .tx-portadainfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1px;   
    z-index: auto;
    top: 420px;
    left: 220px; 
    position: absolute;
  }

  /*recorrido fotografico*/
  
  .tx-portadainfoRF{
    display: flex;
    flex-direction: column;
    gap: 1px;   
    z-index: auto;
    top: 420px;
    left: 410px; 
    position: absolute;
  }         

  .tx-retrato{ 
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 76px;
    gap: 22px;
  }          

  .tx-concep{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
  }

  .tx-aficion{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
  }

  /*emocionario*/

  .tx-portadainfoE{
    display: flex;
    flex-direction: column;
    gap: 1px;   
    z-index: auto;
    top: 350px;
    left: 100px; 
    position: absolute;
  }  

  .res-23{                                  
    display: flex;
    justify-content: center;
    gap: 22px;
  }
  
  /*empaque de donas*/

  .tx-portadainfoEm{
    display: flex;
    flex-direction: column;
    gap: 1px;   
    z-index: auto;
    top: 380px;
    left: 200px; 
    position: absolute;
  }  

  .centro-2im{ 
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 76px;
    gap: 33px;
  }

  .centro-co{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 33px;
    gap: 33px;
  }

  .im2-cenem{ 
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 18px;
  }

  .im3-cenem{ 
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    gap: 18px;
  }

  .im2-res{ 
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 23px;
  }

  /*macetas*/

  .tx-portadainfoMac{
    display: flex;
    flex-direction: column;
    gap: 1px;   
    z-index: auto;
    top: 340px;
    left: 120px; 
    position: absolute;
  }
  .mac-centro2im{                     
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: end;
    margin-top: 76px;
    gap: 20px;
  }        

  .mac-res2im{                     
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: end;
    gap: 20px;
  }  

  .mac-centro3im{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
  }
  
  .mac-2imtx{                     
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
  }

  .mac-proceso3im{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 17px;
  }

  .proceso-sepa{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 29px;
  }

  .resultado-sep{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 33px;
  }

  /*botella*/

  .tx-portadainfoBot{
    display: flex;
    flex-direction: column;
    gap: 1px;   
    z-index: auto;
    top: 420px;
    left: 220px; 
    position: absolute;
  }

  .Cent-im{
    display: flex;
    justify-content: center;
    margin-top: 76px;
    gap: 20px;
  }

  .alinear_base{                      
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
  }

  .bote-2im{                                
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  /*Nubu*/
  .tx-portadainfNubu{
    display: flex;
    flex-direction: column;
    gap: 1px;   
    z-index: auto;
    top: 350px;
    left: 100px; 
    position: absolute;
  }

  .nubu-4im{                         
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .planosN{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 76px;
      gap: 33px;
  }
  
  .nubu-2im{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: end;
    gap: 18px;
  }

  /*prenda ciclista*/
  .tx-portadainfPC{
    display: flex;
    flex-direction: column;
    gap: 1px;   
    z-index: auto;
    top: 330px;
    left: 100px; 
    position: absolute;
  }

  
  .prenda-3im{                    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
  }

  .prenda-esp{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 33px;
    gap: 33px;
  }



  .juguete-2im{                   /*juguete*/
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 76px;
    gap: 20px;
  }

  .modelado-2im{                  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .explosivos-2im{
    display: flex;
    justify-content: center;
    gap: 12px;
  }
  
  .dummy-2im{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .proceso-4im{
    display: flex;
    justify-content: center;
    direction: row;
    gap: 25px;
  }

  .espaciado-jg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 33px;
}




  



   .al-s{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
   }

   .g-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
   }
   
   .lo-nom{
    display: flex;
    align-items: center;
    gap: 14px;
   }

   .C1{
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 300px;
   }
  
   /* Centar*/
  .Cent{
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .Cent-Esp{
    display: flex;
    justify-content: center; 
    gap: 20px; 
    width: 100%;
  }
  
  /*Boton y cierre de pag. (patron)*/
  .Boton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 33px;
  }  

  .Boton button {
    font-family: var(--font-cuerpo);
    font-size: 20px;
    font-weight: 500;
    background-color: var(--color-rosa-claro); 
    color: var(--color-negro); 
    border: 2px solid #DE543F;
  }

  .Boton button:hover {
    background-color: #DE543F; 
    border-color: #DE543F; 
  }

  .patronfinal{
    width: 100%;
  }



    .Logo{max-width: 300px;}
    .Ubicacion{width: 28px; height:36;}
    .Illustrator{max-width: 40px;}
