/* Add styles here */
:root {
    /* Colores*/
    --color-rosa: #F9B8B0;
    --color-naranja: #DE543F;
    --color-negro: #000000; 
    --color-blanco: #FFFFFF;
    --color-rosa-claro: #FFE3E1; 

    /* Fuentes */
    --font-titulos: "MuseoModerno", sans-serif;
    --font-cuerpo: "Inter", sans-serif;

  }

  /* importaciones */
  @import '~bootstrap/dist/css/bootstrap.min.css';
  @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  

  /* Fuentes */

  h1.titulos{
    font-family: var(--font-titulos);
    font-size: 128px;
    font-weight: 800;
    color: var(--color-blanco);
  }

  h2.ED{
    font-family: var(--font-cuerpo);
    font-size: 36px;
    font-weight: 500;
    color: var(--color-blanco);
  }

  h1.SN{
    font-family: var(--font-titulos);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-naranja);
  }

  h2.IC{
    font-family: var(--font-cuerpo);
    font-size: 16px;
    font-weight: 500;
    color: var(--color-negro);
  }

  a.t-home{
    font-family: var(--font-cuerpo);
    font-size: 16px;
    font-weight: 800;
    color: var(--color-naranja);
  }

  li.IC{
    font-family: var(--font-cuerpo);
    font-size: 16px;
    font-weight: 500;
    color: var(--color-negro);
  }

  h2.Proyectos{
    font-family: var(--font-cuerpo);
    font-size: 40px;
    font-weight: 600;
    color: var(--color-blanco);
  }

  h1.NombreP{
    font-family: var(--font-titulos);
    font-size: 70px;
    font-weight: 600;
    color: var(--color-rosa);
  }

  h1.SNe{
    font-family: var(--font-titulos);
    font-size: 30px;
    font-weight: 600;
    color: var(--color-negro);
  }

  p.SNe{
    font-family: var(--font-titulos);
    font-size: 36px;
    font-weight: 800;
    color: var(--color-blanco);
  }

  p.Menut{
    font-family: var(--font-cuerpo);
    font-size: 30px;
    font-weight: 800;
    color: var(--color-negro);
  }

  p.MenuF{
    font-family: var(--font-cuerpo);
    font-size: 30px;
    font-weight: 500;
    color: var(--color-negro);
  }

  p.TX{
    font-family: var(--font-cuerpo);
    font-size: 20px;
    font-weight: 500;
    color: var(--color-negro);
  }

   /*Fondo*/
  /*body{
    background-image: url('src/imagenes/Patron.svg');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;  
    margin: 0; 
    height: 100vh;
  }
  
 
   /* Alineaciones */

  .navbar-expand-lg .navbar-collapse { /* Barra de nav */
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
  }

  .por-es{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1px;    
  }

  .estudiante-D{
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
  }
  
  .WIC{
    display: flex;
    justify-content: space-between;
   }

  .cont-naranja{
    display: flex;
    justify-content: center;
  }

  .ele-na{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
   }

   .soft{
    display: flex;
    flex-direction: column;
    gap: 45px;
   }

   .maq{
    display: flex;
    flex-direction: column;
    gap: 20px;
   }

   .soft-maq{
    display: flex;
    flex-direction: column;
    gap: 45px;
   }

   .so-mi{
    display: flex;
    flex-direction: column;
    gap: 32px;
   }

   .fp{
    display: flex;
   }

  .foto-tx{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .p-nf{                  /*menu*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }

  .MenuIm{                  /*nivel 2*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .n-3p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 208px;
    width: 100%;
  }

  .f-3p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 370px;
    width: 100%;
  }

  .texto-p3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }

  .MenuIm2{                    /*nivel 3*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .n-2p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 415px;
  }
    
  .f-2p{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 260px;
  }

  .texto-p2{
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .MenuIm4{                  /*nivel 4*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 23px;
    width: 100%;
  }

  .n-4p{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 160px;
    width: 100%;
  }

  .f-4p{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 130px;
  }

  .texto-p4{
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .niv-ul{                           /*separacion patron y ultimo elemento*/
    display: flex;
    flex-direction: column;
    gap:151px;
  }

  .titulo-pri{                           /*separacion titulo y primer elemento*/
    display: flex;
    flex-direction: column;
    gap: 74px;
  }

  .ret-4{                     /*lenguaje basico*/
    display: flex;
    justify-content: flex-start;
    gap: 22px;
  }

  /*.ret-tx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 71px;
  }*/

  .nivel-2{
    display: flex;
    justify-content: center;
    gap: 22px;
  }

  .tx-nivel2{
    display: flex;
    direction: row;
    justify-content: space-evenly;
    gap: 260px;
  }  

  
  .Retra-12{                     /*recorrido fotografico*/
    display: flex;
    justify-content: center;
    gap: 22px;
  }            

  .tx-12{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 525px;
  }
    
  .Retra-3{
    display: flex;
    justify-content: center;
  }

  /*.tx-3{
    display: flex;
    justify-content: space-evenly;
    gap: 20PX;
  }*/

  .concep{
    display: flex;
    justify-content: center;
    gap: 45px;
  }            

  .tx-concep{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
  }

  .aficion-23{
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .tx-aficion23{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
    width: 100%;
  }

  .res-23{                                  /*emocionario*/
    display: flex;
    justify-content: center;
    gap: 22px;
  }
  
  .centro-2im{                              /*empaque de donas*/
    display: flex;
    justify-content: center;
    gap: 33px;
  }

  .centro-2tx{
    display: flex;
    justify-content: center;
    gap: 400px;
  }

  .centro-2pla{
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .cent-3im{
    display: flex;
    justify-content: center;
    gap: 17px;
  }

  .centro-2fo{
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .mac-centro2im{                     /*macetas*/
    display: flex;
    justify-content: center;
    gap: 20px;
  }        
  
  .mac-tx2{
    display: flex;
    justify-content: center;
    gap: 400px;
  }

  .mac-centro3im{
    display: flex;
    justify-content: center;
    gap: 17px;
  }

  .pro-centro3im{
    display: flex;
    justify-content: center;
    gap: 7px;
  }

  .alinear_base{                      /*botella*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
  }

  .bote-2im{                                
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .nubu-4im{                         /*Nubu*/
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .nubu-2im{
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .tx-2partes{
    display: flex;
    direction: row;
    justify-content: space-evenly;
    gap: 260px;
  }

  .prenda-2im{                    /*prenda ciclista*/
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  
  .prenda-3im{                    
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .tx-proceso{
    display: flex;
    direction: row;
    justify-content: space-evenly;
    gap: 260px;
  }

  .juguete-2im{                   /*juguete*/
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .explosivos-2im{
    display: flex;
    justify-content: center;
    gap: 12px;
  }
  
  .dummy-2im{
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .proceso-4im{
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .tx-juguete2{
    display: flex;
    direction: row;
    justify-content: space-evenly;
    gap: 260px;
  }




  



   .al-s{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
   }

   .g-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
   }

   .al-u{
    display: flex;
    align-items: baseline;
    gap: 25px;
   }

   .al-f{
    display: flex;
    align-items: center;
    gap: 16px;
   }

   .b3{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
   }


   .lo-nom{
    display: flex;
    align-items: center;
    gap: 14px;
   }

   .C1{
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 300px;
   }


   

  
   /* Centar*/
  .Cent{
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .Cent-Esp{
    display: flex;
    justify-content: center; 
    gap: 20px; 
    width: 100%;
  }
  
  /*Boton y cierre de pag. (patron)*/
  .Boton{
    
    display: flex;
    justify-content: center;
  }  

  .Boton button {
    font-family: var(--font-cuerpo);
    font-size: 20px;
    font-weight: 500;
    background-color: var(--color-rosa-claro); 
    color: var(--color-negro); 
    border: 2px solid #DE543F;
  }

  .Boton button:hover {
    background-color: #DE543F; 
    border-color: #DE543F; 
  }



    .Logo{max-width: 300px;}
    .Ubicacion{width: 28px; height:36;}
    .Illustrator{max-width: 40px;}
